<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vatsalya.mypayments">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <service
        android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
        android:enabled="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".ui.SplashActivity"
            android:theme="@android:style/Theme.Material.Light.NoActionBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>/>
        </activity>

        <activity android:name=".ui.LoginActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.SignupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar.Transparent" />

        <activity android:name=".ui.MainActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.AddNewAccount"
            android:theme="@style/AppTheme2"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.MainActivity"/>

        <activity android:name=".ui.InvoiceByVendorListActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".step.AbstractStepperActivity"
            android:theme="@style/AppTheme2"
            android:parentActivityName=".ui.AddNewAccount"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.PDFViewingActivity"
            android:theme="@style/AppTheme2"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <!-- [START firebase_service] -->
        <service
            android:name=".firebase.MyPaymentsFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service
            android:name=".firebase.MyPaymentsFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
    </application>

</manifest>